# Starter pipeline

# Start with a minimal pipeline that you can customize to build and deploy your code.

# Add steps that build, run tests, deploy, and more:

# https://aka.ms/yaml



resources:

  webhooks:

    - webhook: acr-webhook          ### Webhook alias

      connection: acr-webhook-conn    ### Incoming webhook service connection



pool:

  vmImage: ubuntu-latest



parameters:

- name: config

  type: string

  default: 'Hello World'



jobs:

- job: FirstJob 

  displayName: Sample

  steps:

    

  - task: Bash@3

    inputs:

      targetType: 'inline'

      script: |

        # Write your commands here

        

        echo $config



- job: waitForValidation

  displayName: Wait for external validation  

  pool: server    

  timeoutInMinutes: 4320 # job times out in 3 days

  steps:   

    - task: ManualValidation@0

      timeoutInMinutes: 1440 # task times out in 1 day

      inputs:

          notifyUsers: |

              someone@example.com

          instructions: 'Please validate the build configuration and resume'

          onTimeout: 'resume'



    - task: Bash@3

      inputs:

        targetType: 'inline'

        script: |

          # Write your commands here

          

          echo $config