# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

resources:
  webhooks:
    - webhook: acr-webhook          ### Webhook alias
      connection: acr-webhook-conn    ### Incoming webhook service connection

pool:
  vmImage: ubuntu-latest

steps:
- task: AzureCLI@2
  inputs:
    azureSubscription: 'DevOps-Demo-4'
    scriptType: 'bash'
    scriptLocation: 'inlineScript'
    inlineScript: 'az acr login -n cloudxchange -u cloudxchange -p i/awPSnZ64DL9A29gH6bVhFtxBI2grs7'



